services:
  webapp:
    image: myregistry/my-dotnet-app:latest
    depends_on:
      - db
    environment:
      - ConnectionStrings__Default=Server=db;Database=mydb;User Id=myuser;Password=mypassword;

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydb
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data: